{% extends 'base.html' %}

{%block title %} Commas {%endblock%}

{% include 'header.html' %}

{%block contant%}
    <h1><center>Set commas</center></h1>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <textarea type='text' name='text' style="margin 0; width:1000px;height: 100px;"></textarea><br>
            <button type="submit" class="btn btn-primary">Check commas</button>
          </form> 
    </div>
    <div class="container my-3">
        <p><i>After set commas</i></p>
        <p><b>{{value}}</b></p>
    </div>

{%endblock%}