{% extends 'base.html' %}

{%block title %} duplicate{%endblock%}

{% include 'header.html' %}

{%block contant%}
    <div class="container my-3">
        <form method="get">
            <textarea name='text' style="margin 0; width:1000px;height: 110px;"></textarea><br>
            <button type="submit" class="btn btn-primary">Check Duplicate</button>
          </form> 
    </div>
    <br>
    <div class="container">
        <i>After deletion duplicate text</i>
        <p><b>{{duplicated_text}}</b></p>
    </div>

{%endblock%}